* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

html,
body {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: #3e4144;
  -webkit-font-smoothing: antialiased;
}


dd {
  font-weight: bold;
}

button {
  background-color: black;
  border-radius: 5px;
  border: 0px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  margin: 8px 0;
}

button:hover {
  background-color: #3e4144;
}

button:focus {
  outline: none;
}

.p-1 {
  padding: 1px;
}
